# AWS Credentials (for Terraform & Deployment)
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=ap-south-1

# Server & Database Configuration
PORT=8080
NODE_ENV=production
MONGODB_URI=mongodb://database:27017/grandel
SECRET=your_secret_key_here
